/* Variables */
:root {
  /* Colors */
  --text-dark: #434455;
  --text-light: #ffffff;
  --cloud: #f4f4fd;
  --title-color: #2e2f42;
  --background-light: #ffffff;
  --background-dark-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-color: #404bbf;
  --grey: rgba(46, 47, 66, 0.7);
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --white: #fff;
  --lavander: #e7e9fc;
  /* Spacing */
  --ident-row: 48px;
  --ident-col: 24px;
  /* Animations */
  --transition-config: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --background-transition: background-color var(--transition-config);
  --box-shadow-transition: box-shadow var(--transition-config);
  --color-transition: color var(--transition-config);
  --transform-transition: transform var(--transition-config);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --dairy: #fcfcfc;

}

/* Global styles */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-dark);
  background-color: var(--background-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

button {
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.text-link {
  transition: color var(--transition-config);
}

.text-link:hover,
.text-link:focus {
  color: var(--hover-color);
}

/* Socials styles */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-config);
  transition-property: background-color;
}

.socials-link:focus,
.socials-link:hover {
  background-color: var(--hover-color);
}

.socials-icon {
  fill: var(--cloud);
}

/* Header styles */
.header {
  border-bottom: 1px solid var(--lavander);
  box-shadow: var(--card-box-shadow);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .company-logo {
  margin-right: 76px;
}

.header-nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  color: var(--title-color);
  position: relative;
  padding: 24px 0;
  display: inline-block;
  font-weight: 500;
}

.nav-link.active {
  color: var(--hover-color);
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: transparent;
  transition: background-color var(--transition-config);
  transition: width 0.3s;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  position: absolute;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
  background-color: var(--hover-color);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.company-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-accent {
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--hover-color);
}

/* Sections styles */
/* Card set */
.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  margin-right: 24px;
  flex-basis: calc((100% - 72px) / 4);
}

.card-item:last-child {
  margin-right: 0;
}

/* 1st section. Order section */
.order-section {
  width: 100%;
  max-width: 1440px;
  background-image: linear-gradient(var(--grey), var(--grey)), url(../images/background-image_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 188px 0;
}

@media (min-resolution: 192dpi) {
  .order-section {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/background-image_mob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .order-section {
    padding: 112px 0;
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/background-image_tab@1x.jpg);
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .order-section {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/background-image_tab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .order-section {
    padding: 188px 0;
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/background-image_des@1x.png);
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .order-section {
    background-image: linear-gradient(var(--grey), var(--grey)),
      url(../images/background-image_des@2x.png);
  }
}

.order-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-title {
  color: var(--text-light);
  text-align: center;
  width: 216px;
}

@media only screen and (min-width: 768px) {
  .order-title {
    width: 496px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
  }
}

.submit-button {
  display: block;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-light);

  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  min-width: 169px;
  min-height: 56px;
  height: 56px;
  padding: 16px 32px;
  margin: 48px auto 0;

  transition: background-color var(--transition-config);
  transition-property: background-color;
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--hover-color);
}

/* 2nd section Features section */
.features-section-title {
  text-align: center;
  margin-bottom: 8px;
}

.features-section-list {
  display: flex;
  gap: 24px;
}

.features-section-header {
  text-align: left;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-section-text {}

.features-section-item {
  flex-basis: calc((100% - 72px) / 4);
}

.feature-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  background: var(--cloud);
  margin-bottom: 8px;
}

/* Team section */
.team-section {
  background-color: var(--cloud);
}

.team-section-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-member-container {
  background-color: var(--background-light);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--card-box-shadow);
}

.team-member-photo {
  width: 100%;
  aspect-ratio: 264 / 260;
}

.team-member-header {
  text-align: center;
  margin-bottom: 8px;
}

.team-member-text {}

.team-member-content {
  text-align: center;
  padding: 32px 0;
}

/* 4th section. Portfolio section */
.portfolio-section {}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  gap: 24px;
  width: calc((100% - 48px) / 3);
  cursor: pointer;
  transition: var(--box-shadow-transition);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-title {
  margin-bottom: 8px;
}

.portfolio-section-title {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-item-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--accent-color);
  transition: var(--transform-transition);
  transform: translateY(100%);
}

.portfolio-item:hover .portfolio-item-overlay {
  transform: translateY(0);
}

.portfolio-item-content {
  padding: 32px 16px;
  border: 1px solid rgba(231, 233, 252, 1);
  border-top: none;
}

.portfolio-item-text {}

/* Footer */
.footer {
  color: var(--cloud);
  background-color: var(--background-dark-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-data {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-accent {
  color: var(--cloud);
}

.footer-slo {
  max-width: 264px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-socials-link:focus,
.footer-socials-link:hover {
  background-color: var(--green);
}

.footer-socials-title {
  text-align: left;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-socials-list {
  gap: 16px;
}

/* Footer subscribe */
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-subscribe-title {
  color: var(--white);
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  display: block;
  margin-bottom: 16px;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-subscribe-input {
  padding: 8px 16px;
  color: var(--white);
  font-size: 12px;
  line-height: 24px;
  /* 200% */
  letter-spacing: 0.48px;
  background-color: inherit;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  transition: var(--transition-config);
  transition-property: border-color;
}

.footer-subscribe-input:focus {
  border-color: var(--accent-color);
}

.footer-subscribe-input::placeholder {
  color: var(--white);
  font-size: 12px;
  line-height: 24px;
  /* 200% */
  letter-spacing: 0.48px;
}

.footer-subscribe-btn {
  display: flex;
  padding: 8px 24px;
  margin: 0;
  position: relative;
  min-width: 165px;
  height: 40px;
  min-height: 40px;
}

.footer-send-icon {
  margin-left: 16px;
  fill: var(--white);
}

.modal-overlay {
  background: var(--navy-blue-modal);
  transition: var(--transition-config);
  transition-property: opacity, visibility;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  overflow-y: auto;
  padding: 72px 24px 24px 24px;
  transition: var(--transition-config);
  transition-property: transform;
}

.modal-btn.close-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 24px;
  background-color: var(--lavander);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-config);
  transition-property: background-color, border;
}

.modal-btn.close-modal:hover,
.modal-btn.close-modal:focus {
  fill: var(--white);
  background-color: var(--hover-color);
  border: transparent;
}

.modal-btn-icon {
  transition: var(--transition-config);
  transition-property: fill;
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
  fill: var(--white);
}

.modal-capture {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.leave-contacts-form {}

.form-wrapper {
  margin-bottom: 8px;
}

.comment-wrapper {
  margin-bottom: 16px;
}

.form-label {
  color: var(--light-slate);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  display: block;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  transition: var(--transition-config);
  transition-property: border-color;
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--title-color);
  transition: var(--transition-config);
  transition-property: fill;
  pointer-events: none;
}

.form-input:focus+.form-icon {
  fill: var(--accent-color);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;

  border-radius: 4px;
  color: var(--navy-blue-modal);
  border: 1px solid var(--navy-blue-modal);
  outline: transparent;
  background-color: transparent;
  transition: var(--transition-config);
  transition-property: border-color;
  resize: none;
}

.form-comment::placeholder {
  color: var(--navy-blue-modal);
}

.form-comment:focus {
  border-color: var(--accent-color);
}

.form-agreement {
  display: block;
  margin-bottom: 24px;
}

.form-agreement-label {
  color: var(--light-slate);
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 2px;
  transition: var(--transition-config);
  transition-property: background-color, border, fill;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;

  cursor: pointer;
  margin-right: 8px;
}

.checkbox-icon {
  opacity: 0;
  transition: var(--transition-config);
  transition-property: background-color, border, fill;
}

input[type="checkbox"]:checked+.form-agreement-label .checkbox {
  background-color: var(--hover-color);
  border: none;
  fill: var(--cloud);
}

input[type="checkbox"]:checked+.form-agreement-label .checkbox .checkbox-icon {
  opacity: 1;
}

.form-agreement-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.form-btn {
  margin: auto;
}